#div_radio_group_1 {
 display: block;
 position: absolute;
 left: 132px;
 top: 170px;
 width: 180px;
 height: 90px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
 LCvScrollbar: false;
}

#radio_Radio_button_1 {
 transform: scale(2);
}

#radio_Radio_button_2 {
 transform: scale(2);
}

#radio_Radio_button_1_LABEL {
 width: 160px;
 height: 23px;
 left: 12px;
 top: 12px;
}

#radio_Radio_button_2_LABEL {
 width: 160px;
 height: 23px;
 left: 12px;
 top: 52px;
}

#radio_Radio_button_1_SPAN {
 margin-left: 34px;
 line-height: 22px;
 font-size: 20px;
}

#radio_Radio_button_2_SPAN {
 margin-left: 34px;
 line-height: 22px;
 font-size: 20px;
}
