#div_radio_group_1 {
 display: block;
 position: absolute;
 left: 60px;
 top: 210px;
 width: 200px;
 height: 100px;
 visibility: visible;
 border-width: 1px;
 border-style: dotted;
 border-color: DodgerBlue;
 opacity: 1;
 LCvScrollbar: false;
}

#radio_Radio_button_1 {
 transform: scale(2);
}

#radio_Radio_button_2 {
 transform: scale(2);
}

#radio_Radio_button_1_LABEL {
 width: 160px;
 height: 23px;
 left: 12px;
 top: 18px;
}

#radio_Radio_button_2_LABEL {
 width: 160px;
 height: 23px;
 left: 12px;
 top: 62px;
}

#radio_Radio_button_1_SPAN {
 margin-left: 34px;
 line-height: 22px;
 font-size: 20px;
}

#radio_Radio_button_2_SPAN {
 margin-left: 34px;
 line-height: 22px;
 font-size: 20px;
}
