#button_1 {
 position: absolute;
 left: 66px;
 top: 190px;
 width: 111px;
 height: 47px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#button_2 {
 position: absolute;
 left: 201px;
 top: 190px;
 width: 111px;
 height: 47px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}
