#div_title {
  position: relative;
  top: 5px;
  left: 10px;
  width: 600px;
  height: 250px;
  visibility: visible;
  border-width: 2px;
  border-style: none;
  border-color: dodgerblue;
  background-color: white; 
  opacity: 1;
}

#div_frame {
  position: relative;
  /* top: 250px;
  left: 50px; */
  width: 600px;
  height: 460px;
  visibility: visible;
  border-width: 2px;
  border-style: none;
  border-color: white;
  background-color: white; 
  opacity: 1;
}

#div_palette {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 130px;
  height: 440px;
  visibility: visible;
  border-width: 4px;
  border-style: inset;
  border-color: red;
  background-color: white; 
  opacity: 1;
}

#div_scene {
  position: absolute;
  top: 0px;
  left: 140px;
  width: 450px;
  height: 440px;
  visibility: visible;
  border-width: 4px;
  border-style: inset;
  border-color: dodgerblue;
  background-color: white; 
  opacity: 1;
}

#svg_pipes {
  position: relative;
  top: 0px;
  left: 0px;
  border : none;
  border-width: 1px;
  border-color: DodgerBlue;
  /* setting z-index here doesn't work */
  /* set in process_main.js >> svg.style.zIndex = '1000'; */
  /* next line allows clicks to pass through to the div below */
  /* pointer-events: none; */
  /* or set in process_main.js >> svg.style.pointerEvents = 'none'; */
}
  
