#div_title {
  position: relative;
  top: 5px;
  left: 10px;
  visibility: visible;
  border-width: 2px;
  border-style: none;
  border-color: dodgerblue;
  background-color: white; 
  opacity: 1;
}

#div_frame {
  position: relative;
  width: 600px;
  height: 460px;
  visibility: visible;
  border-width: 2px;
  border-style: none;
  border-color: white;
  background-color: white; 
  opacity: 1;
}

#div_palette {
  position: relative;
  width: 130px;
  height: 440px;
  visibility: visible;
  border-width: 4px;
  border-style: inset;
  border-color: red;
  background-color: white; 
  opacity: 1;
}

#div_scene {
  position: absolute;
  top: 0px;
  left: 140px;
  width: 450px;
  height: 440px;
  visibility: visible;
  border-width: 4px;
  border-style: inset;
  border-color: dodgerblue;
  background-color: white; 
  opacity: 1;
}
