#div_title {
  position: relative;
  top: 5px;
  left: 10px;
  visibility: visible;
  border-width: 2px;
  border-style: none;
  border-color: dodgerblue;
  background-color: white; 
  opacity: 1;
}

#div_frame {
  position: relative;
  width: 600px;
  height: 460px;
  visibility: visible;
  border-width: 2px;
  border-style: none;
  border-color: white;
  background-color: white; 
  opacity: 1;
}

#div_palette {
  position: relative;
  width: 130px;
  height: 440px;
  visibility: visible;
  border-width: 4px;
  border-style: inset;
  border-color: red;
  background-color: white; 
  opacity: 1;
}

#div_scene {
  position: absolute;
  top: 0px;
  left: 140px;
  width: 450px;
  height: 440px;
  visibility: visible;
  border-width: 4px;
  border-style: inset;
  border-color: dodgerblue;
  background-color: white; 
  opacity: 1;
}

.c_parent_01 {
  /* position set by indexed css for each parent */
  width: 60px;
  height: 60px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  background-color: yellow;
  opacity: 1;
}

.c_child_01 {
  position: relative;
  top: 20px;
  left: 30px;
  width: 20px;
  height: 20px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  background-color: blue;
  opacity: 1;
}

.c_parent_02 {
  /* position set by indexed css for each parent */
  width: 60px;
  height: 60px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  background-color: cyan;
  opacity: 1;
}

.c_child_02 {
  position: relative;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  background-color: red;
  opacity: 1;
}