#div_paletteDiv {
  position: absolute;
  top: 120px;
  left: 10px;
  width: 140px;
  height: 600px;
  visibility: visible;
  border-width: 2px;
  border-style: dashed;
  border-color: red;
  background-color: white; 
  opacity: 1;
  z-index: -1;
}

#div_sceneDiv {
  position: absolute;
  top: 120px;
  left: 160px;
  width: 600px;
  height: 600px;
  visibility: visible;
  border-width: 2px;
  border-style: dashed;
  border-color: dodgerblue;
  background-color: white; 
  opacity: 1;
  z-index: -1;
}

.c_fixedOne {
  position: fixed;
  /* top and left set by html or script */
  width: 100px;
  height: 100px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  background-color: dodgerblue;
  opacity: 1;
}

.c_fixedTwo {
  position: fixed;
  /* top and left set by html or script */
  width: 100px;
  height: 100px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  background-color: red;
  opacity: 1;
}
