input {
 display: block;
 position: absolute;
 text-align: center;
}

input, button {
 text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
 display: block;
 text-align: left;
 border-style: none;
}

label {
 display: block;
 position: absolute;
}

img {
 display: block;
 position: absolute;
}

select {
 display: block;
 position: absolute;
}

canvas {
 display: block;
 position: absolute;
 text-align: left;
}

::-ms-tooltip {
 display: none;
}

#div_simFrame {
 display: block;
 position: absolute;
 left: 51px;
 top: 143px;
 width: 775px;
 height: 434px;
 visibility: visible;
 border-width: 2px;
 border-style: dotted;
 opacity: 1;
 LCvScrollbar: false;
}

#button_Button_1 {
 position: absolute;
 left: 6px;
 top: 8px;
 width: 82px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#button_Button_2 {
 position: absolute;
 left: 687px;
 top: 6px;
 width: 82px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

@media(max-width: 640px){
  #button_Button_2 {
   left: 255px;
   top: 183px;
  }
}
