#div_mother_01 {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 200px;
  height: 200px;
  visibility: visible;
  border-width: 2px;
  border-style: dashed;
  border-color: dodgerblue;
  background-color: white; 
  opacity: 1;
  /* z-index: -1; */
}

#div_sister {
  position: absolute;
  top: 100px;
  left: 220px;
  width: 200px;
  height: 200px;
  visibility: visible;
  border-width: 2px;
  border-style: dashed;
  border-color: red;
  background-color: white; 
  opacity: 1;
  /* z-index: -1; */
}