#div_checkbox_group_1 {
 display: block;
 position: absolute;
 left: 60px;
 top: 160px;
 width: 200px;
 height: 100px;
 visibility: visible;
 border-width: 1px;
 border-style: dotted;
 border-color: DodgerBlue;
 padding: 10px;
 opacity: 1;
 LCvScrollbar: false;
}

#checkbox_Check_1 {
 transform: scale(2);
}

#checkbox_Check_2 {
 transform: scale(2);
}

#checkbox_Check_1_LABEL {
 width: 122px;
 height: 23px;
 left: 30px;
 top: 20px;
}

#checkbox_Check_2_LABEL {
 width: 122px;
 height: 23px;
 left: 30px;
 top: 60px;
}

#checkbox_Check_1_SPAN {
 margin-left: 36px;
 line-height: 22px;
 font-size: 20px;
}

#checkbox_Check_2_SPAN {
 margin-left: 36px;
 line-height: 22px;
 font-size: 20px;
}
