#checkbox_Check_1_LABEL {
 width: 82px;
 height: 23px;
 left: 130px;
 top: 173px;
}

#checkbox_Check_1_SPAN {
 margin-left: 22px;
 line-height: 18px;
 font-size: 16px;
}

#checkbox_Check_2_LABEL {
 width: 82px;
 height: 23px;
 left: 130px;
 top: 204px;
}

#checkbox_Check_2_SPAN {
 margin-left: 22px;
 line-height: 18px;
 font-size: 16px;
}
