input {
 display: block;
 position: absolute;
 text-align: center;
}

input, button {
 text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
 display: block;
 text-align: left;
}

label {
 display: block;
 position: absolute;
}

img {
 display: block;
 position: absolute;
}

select {
 display: block;
 position: absolute;
}

canvas {
 display: block;
 position: absolute;
 text-align: left;
}

/* xxx NEW */
.class_body_text {
  width: 900px;
  margin: 20px;
  font-size: 1em;
}

::-ms-tooltip {
  display: none;
}

#div_simulation_frame_1174 {
 display: block;
 /*position: absolute;*/
 position: relative;
 /*left: 7px;
 top: 52px;*/
 width: 958px;
 /*height: 830px;*/
 height: 790px;
 visibility: visible;
 border-width: 1px;
 border-style: outset;
 opacity: 1;
 LCvScrollbar: false;
}

#field_run_counter {
 position: absolute;
 left: 813px;
 top: -10px;
 width: 144px;
 height: 20px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 14px;
}

#field_Field_1_1176 {
 position: absolute;
 left: 7px;
 /*top: -10px;*/
 top: 0px;
 width: 933px;
 height: 73px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 14px;
}

#field_Field_1a_1176a {
 position: absolute;
 left: 359px;
 /*top: 70px;*/
 top: 30px;
 width: 600px;
 height: 64px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 14px;
}

#div_RADIO_group_Model {
 display: block;
 position: absolute;
 left: 38px;
 /*top: 81px;*/
  top: 41px;
 width: 245px;
 height: 62px;
 visibility: visible;
 border-width: 1px;
 border-style: outset;
 opacity: 1;
 LCvScrollbar: false;
}

#radio_Model_1_LABEL {
 width: 231px;
 height: 28px;
 left: 7px;
 top: 6px;
}

#radio_Model_1_SPAN {
 margin-left: 26px;
 line-height: 22px;
 font-size: 14px;
}

#radio_Model_2_LABEL {
 width: 228px;
 height: 24px;
 left: 7px;
 top: 32px;
}

#radio_Model_2_SPAN {
 margin-left: 26px;
 line-height: 22px;
 font-size: 14px;
}

#button_resetButton_1177 {
 position: absolute;
 left: 114px;
 /*top: 174px;*/
  top: 134px;
 width: 86px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#button_runButton_1178 {
 position: absolute;
 left: 23px;
 /*top: 175px;*/
  top: 135px;
 width: 86px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#div_plotCanvasInlet_1195 {
 display: block;
 position: absolute;
 left: 425px;
 /*top: 181px;*/
 top: 141px;
 width: 526px;
 height: 120px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(102,255,255);
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#div_plotCanvasOutlet_1196 {
 display: block;
 position: absolute;
 left: 425px;
 /*top: 575px;*/
 top: 535px;
 width: 526px;
 height: 120px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(102,255,255);
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#div_plotCanvasSurface_1189 {
 display: block;
 position: absolute;
 left: 480px;
 /*top: 442px;*/
 top: 402px;
 width: 359px;
 height: 120px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(102,255,255);
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#div_plotCanvasGas_1192 {
 display: block;
 position: absolute;
 left: 480px;
 /*top: 313px;*/
  top: 273px;
 width: 359px;
 height: 120px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(102,255,255);
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#field_setCmax_label_1198 {
 position: absolute;
 left: 25px;
 /*top: 193px;*/
 top: 153px;
 width: 216px;
 height: 23px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_setCmax_value_1199 {
 position: absolute;
 left: 245px;
 /*top: 193px;*/
 top: 153px;
 width: 81px;
 height: 21px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#range_setCmax_slider_1200 {
 left: 31px;
 /*top: 223px;*/
 top: 183px;
 width: 298px;
 height: 24px;
}

#field_enterKflow_label_1201 {
 position: absolute;
 left: 25px;
 /*top: 413px;*/
 top: 373px;
 width: 237px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_enterKads_label_1202 {
 position: absolute;
 left: 25px;
 /*top: 479px;*/
 top: 439px;
 width: 237px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterKflow_1203 {
 position: absolute;
 left: 269px;
 /*top: 426px;*/
  top: 386px;
 width: 81px;
 height: 21px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#input_field_enterKads_1204 {
 position: absolute;
 left: 269px;
 /*top: 493px;*/
 top: 453px;
 width: 81px;
 height: 21px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterKdiff_label_1205 {
 position: absolute;
 left: 25px;
 /*top: 446px;*/
  top: 406px;
 width: 237px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterKdiff_1206 {
 position: absolute;
 left: 269px;
 /*top: 460px;*/
  top: 420px;
 width: 81px;
 height: 21px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterThieleMod_label_1207 {
 position: absolute;
 left: 25px;
 /*top: 513px;*/
  top: 473px;
 width: 237px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_enterAlpha_label_1208 {
 position: absolute;
 left: 25px;
 /*top: 575px;*/
  top: 535px;
 width: 237px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterThieleMod_1209 {
 position: absolute;
 left: 269px;
 /*top: 526px;*/
  top: 486px;
 width: 81px;
 height: 21px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#input_field_enterAlpha_1210 {
 position: absolute;
 left: 269px;
 /*top: 589px;*/
  top: 549px;
 width: 81px;
 height: 21px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterBscale_label_1211 {
 position: absolute;
 left: 25px;
 /*top: 608px;*/
  top: 568px;
 width: 237px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterBscale_1212 {
 position: absolute;
 left: 269px;
 /*top: 622px;*/
  top: 582px;
 width: 81px;
 height: 21px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#div_RADIO_group_1213 {
 display: block;
 position: absolute;
 left: 38px;
 /*top: 263px;*/
  top: 223px;
 width: 212px;
 height: 85px;
 visibility: visible;
 border-width: 1px;
 border-style: outset;
 opacity: 1;
 LCvScrollbar: false;
}

#radio_Sine_1214_LABEL {
 width: 148px;
 height: 21px;
 left: 7px;
 top: 32px;
}

#radio_Sine_1214_SPAN {
 margin-left: 26px;
 line-height: 22px;
 font-size: 16px;
}

#radio_Constant_1215_LABEL {
 width: 151px;
 height: 27px;
 left: 7px;
 top: 6px;
}

#radio_Constant_1215_SPAN {
 margin-left: 26px;
 line-height: 22px;
 font-size: 16px;
}

#radio_Square_1216_LABEL {
 width: 153px;
 height: 23px;
 left: 7px;
 top: 56px;
}

#radio_Square_1216_SPAN {
 margin-left: 26px;
 line-height: 22px;
 font-size: 16px;
}

#checkbox_on_1231_LABEL {
 width: 79px;
 height: 23px;
 left: 126px;
 top: 7px;
}

#checkbox_on_1231_SPAN {
 margin-left: 26px;
 line-height: 18px;
 font-size: 16px;
}

#field_enterCyclePeriod_label_1217 {
 position: absolute;
 left: 71px;
 /*top: 338px;*/
  top: 298px;
 width: 237px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterDuty_1218 {
 position: absolute;
 left: 316px;
 /*top: 387px;*/
  top: 347px;
 width: 81px;
 height: 21px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterDuty_label_1219 {
 position: absolute;
 left: 71px;
 /*top: 371px;*/
  top: 331px;
 width: 237px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterCyclePeriod_1220 {
 position: absolute;
 left: 316px;
 /*top: 353px;*/
  top: 313px;
 width: 81px;
 height: 21px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_Krxn_label_1222 {
 position: absolute;
 left: 103px;
 /*top: 546px;*/
  top: 506px;
 width: 90px;
 height: 21px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_Krxn_1223 {
 position: absolute;
 left: 176px;
 /*top: 553px;*/
  top: 513px;
 width: 81px;
 height: 21px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 13px;
}

#field_profile_label_gas_1226 {
 position: absolute;
 left: 848px;
 /*top: 299px;*/
  top: 259px;
 width: 134px;
 height: 120px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_profile_label_surface_1227 {
 position: absolute;
 left: 848px;
 /*top: 426px;*/
  top: 386px;
 width: 134px;
 height: 120px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_aveRate_label_1236 {
 position: absolute;
 left: 93px;
 /*top: 770px;*/
  top: 730px;
 width: 397px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_aveRate_1237 {
 position: absolute;
 left: 496px;
 /*top: 770px;*/
  top: 730px;
 width: 104px;
 height: 21px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_aveConversion_1238 {
 position: absolute;
 left: 854px;
 /*top: 770px;*/
  top: 730px;
 width: 90px;
 height: 21px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_aveConverion_label_1239 {
 position: absolute;
 left: 635px;
 /*top: 770px;*/
  top: 730px;
 width: 237px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_spaceTimeTop_label_1240 {
 position: absolute;
 left: 240px; /* 227px */
 /*top: 678px;*/
  top: 638px;
 width: 287px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_spaceTimeMiddle_label_1241 {
 position: absolute;
 left: 214px; /* 191px */
 /*top: 710px;*/
  top: 670px;
 width: 287px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_spaceTimeBtm_label_1242 {
 position: absolute;
 left: 282px;
 /*top: 745px;*/
  top: 705px;
 width: 237px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_Label_Field {
 position: absolute;
 left: 7px;
 /*top: 136px;*/
  top: 96px;
 width: 667px;
 height: 21px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 14px;
}

#image_reactor_image {
 position: absolute;
 left: 433px;
 /*top: 300px;*/
  top: 260px;
 width: 44px;
 height: 275px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 border-width: 1px;
}

#canvas_CANVAS_rate {
 position: absolute;
 left: 450px; /* 454px */
 /*top: 700px;*/
  top: 660px;
 width: 499px; /* 495px */
 height: 80px;
 visibility: visible;
 border-width: 0px;
 background-color: rgb(0,255,0);
 border-style: outset;
 opacity: 1;
}

@media(max-width: 980px) {
  .class_body_text {
    font-size: 1em;
  }
}
