sup {
  font-size: smaller;
}

sub {
  font-size: smaller;
}

input {
  display: block;
  position: absolute;
  text-align: center;
}

input, button {
  text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
  display: block;
  text-align: left;
}

label {
  display: block;
  position: absolute;
}

img {
  display: block;
  position: absolute;
}

select {
  display: block;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  text-align: left;
}

::-ms-tooltip {
  display: none;
}

/* #svg_lines {
  position: absolute;
  top: 0px;
  border : none;
  border-width: 1px;
  border-color : DodgerBlue;
  z-index : -1; // need svg below input fields
} */

#button_fixedOne {
  position: absolute;
  /* top & left set by fOpenThisLab */
  /* left: 179px;
  top: 121px; */
  width: 20px;
  height: 20px;
  /* width: 26px;
  height: 22px; */
  visibility: hidden;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_fixedTwo {
  position: absolute;
  /* top & left set by fOpenThisLab on window.onload*/
  width: 20px;
  height: 20px;
  /* width: 22px;
  height: 26px; */
  visibility: hidden;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_dragBtn {
  position: absolute;
  /* top & left set by fOpenThisLab on window.onload*/
  width: 70px;
  height: 30px;
  /* width: 70px;
  height: 30px; */
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  background-color: MediumSeaGreen;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
  /* thanks to https://jsgist.org/?src=96f9293f224c6354f62a658dac99db05 */
  /* for next two lines of code which prevent touch screen from scrolling */
  /* while touch dragging this button on mobile device */ 
  touch-action: none;  /* prevent zoom/scroll on this element */
  user-select: none;  /* prevent selecting text on this element */  
}
