#field_enter_value_label {
 position: absolute;
 left: 64px;
 top: 171px;
 width: 198px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enter_value {
 position: absolute;
 left: 268px;
 top: 184px;
 width: 68px;
 height: 21px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}
