input {
 display: block;
 position: absolute;
 text-align: center;
}

input, button {
 text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
 display: block;
 text-align: left;
}

label {
 display: block;
 position: absolute;
}

img {
 display: block;
 position: absolute;
}

select {
 display: block;
 position: absolute;
}

canvas {
 display: block;
 position: absolute;
 text-align: left;
}

::-ms-tooltip {
 display: none;
}

#field_output_field {
 position: absolute;
 left: 62px;
 top: 257px;
 width: 384px;
 height: 139px;
 border-width: 2px;
 visibility: visible;
 border-style: outset;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_output_label {
 position: absolute;
 left: 90px;
 top: 230px;
 width: 91px;
 height: 24px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_enter_value_label {
 position: absolute;
 left: 64px;
 top: 171px;
 width: 198px;
 height: 25px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enter_value {
 position: absolute;
 left: 268px;
 top: 184px;
 width: 68px;
 height: 21px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}
