#button_Run {
 position: absolute;
 left: 66px;
 top: 190px;
 width: 82px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#button_Reset {
 position: absolute;
 left: 165px;
 top: 190px;
 width: 82px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}
