sup {
  font-size: smaller;
}

sub {
  font-size: smaller;
}

input {
  display: block;
  position: absolute;
  text-align: center;
}

input, button {
  text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
  display: block;
  text-align: left;
}

label {
  display: block;
  position: absolute;
}

img {
  display: block;
  position: absolute;
}

select {
  display: block;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  text-align: left;
}

::-ms-tooltip {
  display: none;
}

#div_title {
  
}

#div_canvasDiv {
  /* NOTE: "canvas" is used here for convenience and does NOT mean an HTML canvas element */
  position: absolute;
  top: 120px;
  left: 160px;
  width: 600px;
  height: 600px;
  visibility: visible;
  border-width: 2px;
  border-style: dashed;
  border-color: dodgerblue;
  background-color: white; 
  opacity: 1;
  z-index: -1;
}

.c_fixedOne {
  position: fixed;
  /* top and left set by html or script */
  width: 100px;
  height: 100px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  background-color: dodgerblue;
  opacity: 1;
}

.c_fixedTwo {
  position: fixed;
  /* top and left set by html or script */
  width: 100px;
  height: 100px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  background-color: red;
  opacity: 1;
}


