sup {
  font-size: smaller;
}

sub {
  font-size: smaller;
}

input {
  display: block;
  position: absolute;
  text-align: center;
}

input, button {
  text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
  display: block;
  text-align: left;
}

label {
  display: block;
  position: absolute;
}

img {
  display: block;
  position: absolute;
}

select {
  display: block;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  text-align: left;
}

::-ms-tooltip {
  display: none;
}

#button_fixedOne {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  /* border-color: tomato; */
  opacity: 1;
}
